# web-developer@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 35vh;
    background-size: cover;
}

.diwali-top-section-heading {
    font-family: "Caveat";
    color: white;
    font-size: 25px;
    width: 180px;
    padding: 30px;
}

.diwali-bottom-section {
    background-color: #e6f6ff;
    padding: 15px;


}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 160px;
    border-radius: 25px;
    padding: 15px;

}

.diwali-card-image {
    height: 70px;
    width: 70px;
}

.diwali-card-name {
    font-family: "Roboto";
    font-size: 15px;
    color: #8cc63f;
    margin: 4px;
}

.diwali-card-price {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
    color: #f7931e;
}

.button {
    text-align: center;
}
